# Week 5 Project
# Multiple CSV Files Processing

In [1]:
import glob

file_list = glob.glob("data/sales_*.csv")
file_list

['data\\sales_01.csv', 'data\\sales_02.csv', 'data\\sales_03.csv']

In [2]:
import pandas as pd

dfs = []

for file in file_list:
    df = pd.read_csv(file)
    dfs.append(df)

dfs

[         date product  sales
 0  2024-01-01       A    100
 1  2024-01-02       B    200,
          date product  sales
 0  2024-01-03       A    150
 1  2024-01-04       C    300,
          date product  sales
 0  2024-01-05       B    250
 1  2024-01-06       C    400]

In [3]:
dfs[0]
dfs[1]
dfs[2]

         date product  sales
0  2024-01-05       B    250
1  2024-01-06       C    400

In [4]:
import glob
import pandas as pd

file_list = glob.glob("data/sales_*.csv")
dfs = [pd.read_csv(file) for file in file_list]

all_data = pd.concat(dfs, ignore_index=True)
all_data["date"] = pd.to_datetime(all_data["date"])

In [5]:
summary = all_data.groupby("product")["sales"].agg(["sum", "mean"])
summary

         sum   mean
product
A        250  125.0
B        450  225.0
C        700  350.0

In [6]:
summary.to_csv("result_sales_summary.csv")

## Output
- The aggregated sales results were saved as `result_sales_summary.csv`.
- This file can be reused for reporting or further analysis.

# Final Summary

This project automatically processed multiple CSV files to generate
aggregated sales results.

- Combined multiple sales CSV files into one dataset
- Calculated total and average sales by product
- Saved the final results as a CSV file

The workflow demonstrates basic data automation using Python and pandas.